<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FUploadTest</servlet-name>
        <servlet-class>FUploadTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcartServlet</servlet-name>
        <servlet-class>addcartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirm</servlet-name>
        <servlet-class>OrderConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproServlet</servlet-name>
        <servlet-class>deleteproServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editproServlet</servlet-name>
        <servlet-class>editproServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordreset</servlet-name>
        <servlet-class>passwordreset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FUploadTest</servlet-name>
        <url-pattern>/FUploadTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcartServlet</servlet-name>
        <url-pattern>/addcartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirm</servlet-name>
        <url-pattern>/OrderConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproServlet</servlet-name>
        <url-pattern>/deleteproServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editproServlet</servlet-name>
        <url-pattern>/editproServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordreset</servlet-name>
        <url-pattern>/passwordreset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>signupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signinServlet</servlet-name>
        <servlet-class>signinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signinServlet</servlet-name>
        <url-pattern>/signinServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addproServlet</servlet-name>
        <servlet-class>addproServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addproServlet</servlet-name>
        <url-pattern>/addproServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>imageuploadServlet</servlet-name>
        <servlet-class>imageuploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageuploadServlet</servlet-name>
        <url-pattern>/imageuploadServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            G:\DOCUMENTS\MODULES\WP\DMart\web\product-data
        </param-value>
    </context-param>
</web-app>
